@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@layer components {
	/*Main Height*/
	.main-height {
		@apply min-h-[calc(100vh-120px)];
	}
	/*buttons*/
	.btn-primary {
		@apply py-1 px-2 bg-black text-white text-sm text-center font-Roboto font-semibold rounded-md shadow-lg tracking-widest hover:ring-2 hover:ring-gray-800 transition ease-in disabled:bg-slate-400 disabled:hover:ring-0;
	}
	.btn-secondry {
		@apply py-3 px-4 bg-white text-black  text-center font-semibold rounded-3xl shadow-2xl tracking-tight relative;
	}
}
